@charset "UTF-8";
* {
  font-family: "Montserrat", "HY중고딕", sans-serif;
  letter-spacing: -0.083em;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul, li, h1 {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

@font-face {
  font-family: "휴먼둥근헤드라인";
  src: url(../../public/fonts/HMKMRHD.TTF);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HY견고딕";
  src: url(../../public/fonts/H2GTRE.TTF);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "HY중고딕";
  src: url(../../public/fonts/H2GTRM.TTF);
  font-weight: 500;
  font-style: normal;
}
h1, h2, h3, h4 {
  font-family: "휴먼둥근헤드라인";
  font-size: normal;
  font-weight: 300;
}

.font141619 {
  font-size: 18px;
}

@media (max-width: 991px) {
  .font141619 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .font141619 {
    font-size: 14px;
  }
}
body .show:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
body .show #popagree {
  display: block;
  z-index: 12;
}

.hdsec:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../public/img/hd_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 1098px;
  background-position-y: top;
}
.hdsec .navi_hd__tLF7S {
  background-color: transparent;
}
.hdsec .navi_hd__tLF7S header {
  height: 120px;
  max-width: 2280px;
  margin: 0 auto;
  padding: 0 40px;
}
.hdsec .navi_hd__tLF7S header h1 img {
  height: 27px;
}
.hdsec .navi_hd__tLF7S header ul:first-of-type {
  margin-right: 15rem;
}
.hdsec .navi_hd__tLF7S header ul li.px-4 {
  font-size: 24px;
}
.hdsec section .visual__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.hdsec section .visual__list .topbgimg {
  width: 399px;
  height: 381px;
  background-image: url(../../public/img/codeMillet.png);
  background-size: 399px 381px;
}

.sjy_Swiper .swiper-wrapper .swiper-slide {
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .sjy_Swiper .swiper-wrapper {
    height: calc(100vh - 120px);
  }
}
.sjy_Swiper .swiper-wrapper .react {
  background: url(../../public/img/mainBanner1.png) no-repeat center;
  background-size: 1060px 550px;
  color: transparent;
}
.sjy_Swiper .swiper-wrapper .ec {
  background: url(../../public/img/mainBanner2.png) no-repeat center;
  background-size: 1060px 550px;
  color: transparent;
}
.sjy_Swiper .swiper-wrapper .plan {
  background: url(../../public/img/mainBanner3.png) no-repeat center;
  background-size: 1060px 550px;
  color: transparent;
}
.sjy_Swiper .swiper-wrapper .gnu {
  background: url(../../public/img/mainBanner4.png) no-repeat center;
  background-size: 1060px 550px;
  color: transparent;
}
.sjy_Swiper .swiper-pagination {
  bottom: 7rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

#contactsec {
  height: 2271px;
  background-color: rgb(247, 247, 251);
  margin-bottom: 20rem;
  position: relative;
}
#contactsec::before {
  content: "";
  display: block;
  position: absolute;
  top: 1007px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../public/img/contactbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
}
#contactsec section h3 {
  position: absolute; /*top: 5rem;*/
}
#contactsec section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../public/img/contactbg_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position-y: top;
}
#contactsec section .container {
  max-width: 992px;
  margin-top: 16rem;
}
#contactsec section .container form {
  font-family: "HY중고딕" !important;
  font-weight: 300;
  font-style: normal;
  margin-top: 8rem;
  position: absolute;
  width: 992px;
}
#contactsec section .container form [type=text] {
  border: 0;
  outline: none;
  text-align: center;
  margin-bottom: 0.2rem;
  background-color: transparent;
  font-size: 18px;
}
#contactsec section .container form ul li ul.lineRound label {
  border: 1.8px solid #202020;
  text-align: center;
  border-radius: 30px;
  padding: 1.2rem;
  display: block;
  font-size: 18px;
  font-weight: 600;
}
#contactsec section .container form ul li ul li .borderB {
  border-bottom: 2px solid #202020;
  text-align: center;
}
#contactsec section .container form ul li ul li .formIndent #message {
  position: relative;
  width: 60vw;
  height: 15vh;
  top: 2rem;
  border: 0;
  border-radius: 100px;
  outline: none;
  text-align: center;
  background-color: white;
  font-size: 24px;
}
#contactsec section .container form ul li ul li #position0:checked + label {
  color: #00d564;
  border-color: #00d564;
}
#contactsec section .container form ul li ul li #position1:checked + label {
  color: #00d564;
  border-color: #00d564;
}
#contactsec section .container form ul li ul li #position2:checked + label {
  color: #00d564;
  border-color: #00d564;
}
#contactsec section .container form ul li ul li #position3:checked + label {
  color: #00d564;
  border-color: #00d564;
}
#contactsec section .container form p p #agree + label {
  font-size: 18px;
  color: #adadad;
}
#contactsec section .container form p p #agree:checked + label:before {
  color: #f16c22;
}
#contactsec section .container form p p .bibefore {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}
#contactsec section .container form p p .bi-circle::before {
  content: "\f28a";
}
#contactsec section .container form p p .bi-circle a {
  color: #007bff;
  background-color: transparent;
}
#contactsec section .container form p input[type=image] {
  width: 180px;
  margin-top: 3rem;
}
#contactsec section .container form #popagree {
  max-width: 600px;
  width: calc(100% - 60px);
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
#sns_thumb {
  margin-bottom: 20rem;
}
#sns_thumb h6 {
  margin-bottom: 5rem;
  font-size: 18px;
  text-align: start !important;
  font-weight: 600;
}
#sns_thumb h6 span {
  color: #f16c22;
}
#sns_thumb #thumbs ul li {
  margin: 5px;
}

footer {
  background-color: rgb(32, 32, 32);
  height: 76px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  color: #777777;
  margin: 0;
}
footer ul li {
  font-weight: 600;
  margin-left: 1rem;
}
footer ul li:first-child a {
  color: white;
}
footer ul li:first-child a span {
  color: #f16c22;
}
footer ul li a {
  color: #777777;
}